/* 
@media (max-width: 1210px) {
    .image-wraper {
        flex-direction: column;
    }
} */

@media (max-width: 1024px) {
    .block {
        width: 47%;
    }
}
@media (max-width: 950px) {
    .flex-wraper {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .flex-wraper p {
        margin-top: 50px;
    }
    .text-p, 
    .image-block {
        display: block;
    }
}
@media (max-width: 768px) {
    .burger-bar {
        display: block;
    }
    .navigation {
        display: none;
    }
}
@media (max-width: 670px) {
    .flex-wraper {
        height: auto;
    }
}
@media (max-width: 480px) {
    .block {
        width: 100%;
    }
}